@charset "utf-8";
/* ### 기본 스타일 커스터마이징 시작 ### */
.mbskin{text-align:center;padding:0px}
.mbskin h1{font-size:1.75em;margin:40px 0 25px}
.mbskin p {}
.mbskin p strong{color:#000;padding-bottom:5px;display:block;font-size:1.383em}

/* 버튼 */
.mbskin a.btn01 {}
.mbskin a.btn01:focus, .mbskin a.btn01:hover {}
.mbskin a.btn02 {}
.mbskin a.btn02:focus, .mbskin .btn02:hover {}
.mbskin .btn_confirm {} /* 서식단계 진행 */
.mbskin .btn_submit {}
.mbskin .btn_cancel {}
.mbskin .btn_frmline {} /* 우편번호검색버튼 등 */
.mbskin .win_btn {} /* 새창용 */
.mbskin .win_btn a {}
.mbskin .win_btn button {}
.mbskin .win_btn input {}
/* 게시판용 버튼 */
.mbskin a.btn_b01 {}
.mbskin a.btn_b01:focus, .mbskin .btn_b01:hover {}
.mbskin a.btn_b02 {}
.mbskin a.btn_b02:focus, .mbskin .btn_b02:hover {}
.mbskin a.btn_admin {} /* 관리자 전용 버튼 */
.mbskin a.btn_admin:focus, .mbskin a.btn_admin:hover {}

/* 기본테이블 */
.mbskin .tbl_head01 {}
.mbskin .tbl_head01 caption {}
.mbskin .tbl_head01 thead th {}
.mbskin .tbl_head01 thead a {}
.mbskin .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.mbskin .tbl_head01 tfoot th {}
.mbskin .tbl_head01 tfoot td {}
.mbskin .tbl_head01 tbody th {}
.mbskin .tbl_head01 td {}
.mbskin .tbl_head01 a {}
.mbskin td.empty_table {}

/* 폼 테이블 */
.mb_skin table {}
.mb_skin caption {}
.mb_skin .frm_info {}
.mb_skin .frm_file {}

.mbskin .tbl_frm01 {}
.mbskin .tbl_frm01 caption {}
.mbskin .tbl_frm01 th {}
.mbskin .tbl_frm01 td {}
.mbskin .tbl_frm01 textarea, .mbskin .frm_input {}
.mbskin .tbl_frm01 textarea {}
/*
.mbskin .tbl_frm01 #captcha {}
.mbskin .tbl_frm01 #captcha input {}
*/
.mbskin .tbl_frm01 a {}

.mbskin .required, .mbskin textarea.required {} /* 필수입력 */

/* 테이블 항목별 정의 */
.mbskin .td_board {}
.mbskin .td_chk {}
.mbskin .td_date {}
.mbskin .td_datetime {}
.mbskin .td_group {}
.mbskin .td_mb_id {}
.mbskin .td_mng {}
.mbskin .td_name {}
.mbskin .td_nick {}
.mbskin .td_num {}
.mbskin .td_numbig {}

.login_logo {text-align: center; padding:0px 0px 50px;}
.login_logo img { height:75px; }
.login_slogan { color:rgba(139, 139, 139, 0.75); font-size:14px; letter-spacing: -0.2px; }



/* ### 기본 스타일 커스터마이징 끝 ### */
#register_top_wrap {width:100%;margin:auto;text-align: center;}
#register_step_wrap {width:100%;background:#fff;margin:auto;padding:25px 0;}
#register_con_wrap {width:calc(100% - 40px);padding:20px;background: #fff;border-radius: 15px;margin:20px}
#register_kakao_wrap {margin:20px;text-align: center;}
#register_basic_wrap {margin:30px 20px;padding:20px 0 0;text-align: center;border-top:2px solid #9e6d41;}

/* 회원가입 상단 */
.register_intro {margin:25px 0;text-align:center;}
.main_intro {font-size:20px; color:#452417;font-weight: 800;letter-spacing: -1px;line-height: 35px}
.main_intro img {width:130px;height:auto;margin:0;border:0;margin-top:-3px;}
.sub_intro {font-size:14px;color:#9e6d41;font-weight:400;line-height: 25px}
.register_top_image {width:90px;}
.register_kakao_image {width:80%;} 
.register_basic_title {font-size:18px;font-weight: 800;color:#9e6d41;}

.chk_age {width:100%;font-size:14px;font-weight:bold;color:#452417;padding:25px 0;margin-bottom:25px;border-bottom:1px dashed #452417;letter-spacing: -1px;}

.register_process_wrap {text-align:center; vertical-align: middle; }
.register_process {color:#c09b79; font-size:14px;font-weight: bold;display: inline-block;}
.process_arrow {padding:0 20px;vertical-align:top;line-height:14px;display: inline-block;}
.process_arrow img {width:8px;}
.process_now {color:#452417;}
.register_con_title {color:#452417;font-size:16px;line-height: 30px;font-weight: 800;letter-spacing: -1px;}
.register_con_title_notice {color:#9a0044;font-size:11px;line-height: 24px;font-weight: 200;letter-spacing: -1px;}
.register_con_subtitle {color:#452417;font-size:13px;line-height: 24px;font-weight: 200;letter-spacing: -1px;}
.register_terms_image {float:right;width:65px;cursor: pointer;}
.register_terms_detail {padding:15px;background: #f4e7e5}

.register_title_wrap {padding:30px 20px; border-top:1px solid #ddd; border-bottom: 1px solid #ddd;margin-bottom: 20px;}
.register_main_title {font-size:16px;line-height:30px;font-weight: bold;color:#000;}
.register_sub_title {font-size:14px; color:rgba(139, 139, 139, 0.75); font-weight: 400;}

.register_celebrate {font-size:16px; color:#9e6d41;line-height: 30px;font-weight: 400;margin:20px 0;text-align: center;}
.register_celebrate span {font-weight: bold;color:#9a0044;}

.register_result_title {font-size:30px;font-weight: bold; color:#000; text-align: center;}
.register_result_msg {text-align: center;}
.register_result_msg img {margin-bottom:20px;width:80%;}
.result_main_msg {font-size:14px; color:#9e6d41; font-weight: 400;margin-bottom:30px;line-height: 22px}
.result_sub_msg {font-size:15px; color:#acacac; font-weight:300;}




/* 회원가입 약관 */
#fregister section {background:#fff;margin:10px 0;}
#fregister .chk_all{text-align:left; font-size:14px;font-weight: bold;}
#fregister h2 {text-align:left;border-bottom:1px solid #dbdbdb;padding:10px 15px;line-height:1.7em;font-size:1.317em}
#fregister textarea {display:block;padding:10px;width:100%;border:1px solid #452417;background:#f4e7e5;height:180px;line-height:1.5em;color:#452417}
.fregister_wrap {background: #f4e7e5;width:100%;padding:10px;margin:15px 0;color:#452417;font-size:12px;letter-spacing: -1px}
.fregister_agree {padding:3px 15px;line-height:1.7em;text-align:left;font-size:1.083em;background: #f4e7e5;}
.fregister_agree label {display:inline-block;margin-right:5px}
#fregister p {border:0;padding:0 0 5px;}
#fregister .btn_confirm {margin:15px 0}
#fregister .btn_submit {width: 100%;margin: 25px 0 0;font-size:16px;padding:13px;font-weight: 800;border-radius: 15px;}
#fregister_private .tbl_head01 {padding:20px;margin:0}
#fregister_private .tbl_head01 caption{position:absolute;font-size:0;line-height:0;overflow:hidden;top:0;color:#fff}


/* 회원가입 입력 */
#fregisterform #reg_mb_email, #fregisterform .frm_address {width:100%}
#fregisterform textarea {width:100%;height:50px}
#fregisterform #msg_certify {margin:5px 0 0;padding:5px;border:1px solid #dbecff;background:#eaf4ff;text-align:center}
#fregisterform .frm_address {margin:5px 0 0}
#fregisterform #mb_addr3 {display:block;margin:5px 0 0}
#fregisterform #mb_addr_jibeon {display:block;margin:5px 0 0}
#fregisterform  .form_01{margin-bottom: 30px}
#fregisterform .form_01 h2{font-size:12px;margin:30px 0 10px 0px;color:#452417;}
#fregisterform .frm_label{display:block;font-size:0.900em;margin:20px 0 5px;color:#452417;font-weight: 400;letter-spacing: -1px;}
#fregisterform .btn_frmline {height:45px;padding:0 15px;border-radius: 0;float:right;}
#fregisterform .frm_add {width:calc(100% - 76px);}
#fregisterform .rgs_name_li button{margin:5px 0 0 }
#fregisterform .reg_mb_img_file img{max-width:100%;height:auto}
#fregisterform .btn_submit {width: 100%;margin: 25px 0 0;font-size: 16px;padding: 13px;font-weight: 800;border-radius: 15px;}
#fregisterform .btn_leave {width: 100%;margin: 5px 0 0;font-size: 16px;padding: 13px;font-weight: 800;border-radius: 15px;color:#541800;border:1px solid #541800;text-align: center;}
#fregisterform .btn_cancel {width: 100%;line-height:30px;margin: 5px 0;font-size: 1.083em;font-weight: bold;background: #fff;border:1px solid #000; color:#000;text-align: center;}
#fregisterform .register_cert_wrap {width:100%;padding:40px 20px; text-align: center;position: relative;}
#fregisterform .register_cert_image {text-align:center;}
#fregisterform .register_cert_image input {width:140px;margin-bottom:10px;}
#fregisterform .register_cert_banner {text-align:center;line-height:35px;font-size:24px;font-weight:200;color:#452417;padding:37px;background:#f8f3ed;width: 140px; height:140px;border-radius:20px;margin:10px auto;cursor: pointer; vertical-align: middle;}
#fregisterform .register_cert_text { font-size:15px; font-weight: 800; padding:12px;width: 140px;margin: auto;background: #9e6d41;border-radius: 15px;color: #fff;cursor: pointer;}
#fregisterform .register_cert_btn {text-align:center;width: 60px; height:auto;cursor: pointer; }
#fregisterform .btn_cert_check {width: 100%;font-size: 16px;padding: 13px;font-weight: 800;border-radius: 15px;text-align: center;background: #541800;color:#fff;}
#fregisterform .reg_form_msg {padding:5px 0 0;color:#9a0044;}
#cert_befre {display: block;}
#cert_after {display: none;}

/* 회원가입 완료 */
#reg_result {}
#reg_result #result_email {margin:20px 0;padding:10px 50px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#fff;line-height:2em}
#reg_result #result_email span {display:inline-block;width:150px}
#reg_result #result_email strong {color:#e8180c;font-size:1.2em}
#reg_result h2{text-align:center;font-size:1.25em;margin:0 0 10px}
#reg_result h2 strong{color:#ed6478}
#reg_result p {line-height:1.7em}
#reg_result .btn_confirm {width: 100%;font-size: 16px;padding: 13px;font-weight: 800;border-radius: 15px;text-align: center;background: #541800;color: #fff;}
#reg_result .reg_result_wr{background:#fff;padding:10px 20px}
#reg_result .reg_cong{margin:10px 0;font-size:1.083em;font-weight:bold}
#reg_result .reg_cong strong{color:#3497d9}
#reg_result .btn_confirm a{display:inline-block;padding:0 20px;height:50px;line-height:50px;font-weight:bold}

/* 아이디/비밀번호 찾기 */
/*#find_info #info_fs {margin:0 20px 10px}*/
#find_info #info_fs p {padding: 0px 10px;line-height: 1.6em;font-size: 1.0em;color: #451800;width: calc(100% - 16px);display: inline-block;}
#find_info #info_fs #mb_email {width:100%}
#find_info #info_fs #mb_id {width:100%;margin-bottom:3px;}
#find_info #info_fs #mb_name {width:100%;margin-bottom:3px;}
#find_info #info_fs #mb_phone {width:100%;margin-bottom:3px;}
#find_info #captcha{margin:5px 0 }

/* 로그인 */
#mb_login {margin:40px 0px 10px;}
#mb_login h1 {font-size:2em;text-align:center;margin:0 0 20px}
#mb_login h2 {margin:0}
#mb_login p {padding:10px 0;line-height:1.5em}
#mb_login #login_frm {position:relative}
#mb_login #login_frm div {text-align:center;display: inline-block;}
#mb_login .frm_input {width:100%;margin:0 4px 5px 0;padding: 5px 20px;border: 1px solid #452417;border-radius: 0;}
#mb_login input::placeholder {color:#541800;}
#mb_login .btn_submit {width:100%;height:100%;font-size:1.083em;font-weight:bold;padding:15px 0;margin-top:20px;}
#mb_login .mb_login_join{padding:30px 0;font-size:12px;color:#541800;}
#mb_login .mb_login_join:after {display:block;visibility:hidden;clear:both;content:""}
#mb_login .mb_login_join h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
#mb_login .mb_login_join a {padding: 0 10px;color: #451800;}
.login_register {border-right:1px solid #541800;}
.password_lost{border-left:1px solid #541800;}


#mb_login_notmb{background: #fff;padding: 30px;margin-top: 50px;border: 1px solid #9e6d41;border-radius: 20px;}
#mb_login_notmb h2{font-size:16px;padding:0;color:#000; text-align:center;font-weight: 600;margin-bottom:20px;}
#mb_login_notmb p{border:0;padding:15px;margin-bottom:10px;border:1px solid #452417;}
#guest_privacy p{border:1px solid #452417;background:#fff;color:#666;min-height:20px;height:200px;padding:10px;text-align:left;overflow-y:auto;margin:10px 0}
#mb_login_notmb .btn_submit{width:100%;display:block;}
#mb_login_notmb .privacy_check {text-align: left;padding:5px 0;}

#mb_login_od_wr{background:#fff;padding: 50px 30px 25px;border: 1px solid #af835b;border-radius: 0 0 20px 20px;}
#mb_login_od_wr h2{font-size:1.25em;margin:20px 0 10px}
#mb_login_od_wr .frm_input{ }
#mb_login_od_wr p { padding: 0px 10px;line-height: 1.6em;font-size: 1.0em;color: #451800;width: calc(100% - 16px);display: inline-block;}
#mb_login_od_wr .btn_submit {width:100%;height: 50px;font-size:1.083em;margin:35px 0 0;}

#mb_login_odinfo{margin:10px 0 0 ;background:#f3f3f3;padding:10px 20px}
#mb_login_odinfo h2{font-size:1.167em}

#mb_login_msgbox { width:100%; background: #f1f1f1; color:#000; font-size:14px; border:1px solid #000; padding:10px !important;margin-bottom:10px;}
#mb_login_msgbox span {text-decoration: underline;font-weight: bold;}
#mb_login_rt_button { width:100%; background: #fff; border:1px solid #000; color:#000; font-weight:bold; height:50px; line-height: 50px; }
#mb_login_to_button { width:100%; background: #000; color:#fff; font-weight:bold; height:50px; line-height: 50px; }
#mb_login_bottom {margin-bottom:250px;}

/* 카카오로그인 */
.login_kakao {width:100%;margin:5px 0 0;}
.login_kakao img {width: 100%;}



/* 쪽지 */
#memo_view_contents {}
#memo_view_contents h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#memo_view_ul {margin:0 0 3px;background:#fff;padding:5px 10px;border-radius:3px;
-webkit-box-shadow: 0 0 5px rgba(50,50,50,0.2);
-moz-box-shadow: 0 0 5px rgba(50,50,50,0.2);
box-shadow: 0 1px 5px rgba(50,50,50,0.2);}
.memo_view_li {position:relative;padding:2px 0}
.memo_view_subj {display:inline-block;width:60px;font-size:0.92em;color:#777}
#memo_view_ul a {}
#memo_view p {padding:10px 15px;border-radius:3px;;min-height:150px;height:auto !important;height:150px;line-height:1.8em;background:#fff;
-webkit-box-shadow: 0 0 5px rgba(50,50,50,0.2);
-moz-box-shadow: 0 0 5px rgba(50,50,50,0.2);
box-shadow: 0 1px 5px rgba(50,50,50,0.2);}

#memo_list_ul {}
#memo_list_ul li {position:relative;background:#fff;margin:10px 0;border-radius:3px;padding:10px 15px;
-webkit-box-shadow: 0 0 5px rgba(50,50,50,0.2);
-moz-box-shadow: 0 0 5px rgba(50,50,50,0.2);
box-shadow: 0 1px 5px rgba(50,50,50,0.2);}

#memo_list_ul .memo_link {display:block;font-weight:bold;font-size:1.083em;margin:0 0 5px}
#memo_list_ul .memo_date{font-size:0.92em;color:#777;font-style:italic}
#memo_list_ul .memo_del{display:block;position:absolute;top:0;right:0;width:40px;height:40px;background:url(./img/btn_del.gif) no-repeat 50% 50%; text-indent:-9999px;overflow:hidden}

#memo_write #me_recv_mb_id {width:100%}
#memo_write textarea {width:100%;height:100px}
#memo_write .win_btn{margin:10px;}

/* 스크랩 */
#scrap_ul li{position:relative;}
#scrap_ul .scrap_board {display:block;color:#4162ff;margin:0 0 5px}
#scrap_ul .scrap_del {display:block;position:absolute;top:0;right:0;width:40px;height:40px;background:url(./img/btn_del.gif) no-repeat 50% 50%; text-indent:-9999px;overflow:hidden}
#scrap_ul .scrap_link{font-weight:bold;font-size:1.083em;}
.scrap_tit{font-weight:bold;border-bottom:1px solid #d7d7d7;padding:0 0 10px;font-size:1.167em}
#scrap_do #wr_content{margin-top:5px}
#scrap_do label{color:#666}

/* 포인트 */
#point {margin-top:60px;}
#point .point_board {padding:20px;border-bottom:1px solid #b8b8b8;}
#point .board_title {font-size:13px;color:#000;}
#point .board_total_point {font-size:30px;font-weight:bold;color:#000;padding:0 0 10px;}
#point .board_text {font-size:13px; color:rgba(0, 0, 0, 0.5); }
#point .list_01 { padding:0; }

#point_sum{margin:10px 0 20px}
#point_sum:after {display:block;visibility:hidden;clear:both;content:''}
#point_sum .sum_row {float:left;width:33.333%;text-align:center;background:#939db8;color:#fff;}
#point_sum .sum_row:nth-child(even){background:#8490af}
#point_sum .sum_tit, #point_sum .sum_val {display:block;margin:0 0 1px;padding:10px}
#point_sum .sum_tit {}
#point_sum .sum_val {}

/* 회원 비밀번호 확인 */
#mb_confirm {margin:30px 0; padding:30px;}
#mb_confirm h1 {margin:0 0 15px;padding:0 10px;font-size:1.3em}
#mb_confirm p {padding:15px 10px;border-bottom:1px solid #cfded8;border-bottom:0;background:#fff}
#mb_confirm p strong {display:block}
#mb_confirm fieldset {position:relative;margin:10px 0;text-align:left;color:#555}
#mb_confirm_id{display:block;margin-top:10px;width:100%}
#mb_confirm_pw {display:block;margin-top:10px;width:100%}
#mb_confirm .btn_submit {width:100%;height:50px;margin:10px 0}
#mb_confirm .member_symbol_icon { margin:30px 0 10px; }
#mb_confirm .member_symbol_icon i {padding:22px;font-size:40px;border-radius: 60px;background: #e5ae44;color:#fff;}

/* 비밀글 비밀번호 확인 */
#pw_confirm fieldset {position:relative;margin:0 0 5px;padding:15px 0;border-top:1px solid #fffefe}
#pw_wr_password {width:100%}
#pw_confirm .btn_submit {margin:5px 0;width:100%;border-radius:3px;height:45px;font-weight:bold;font-size:1.083em}

/* 폼메일 */
#formmail #subject {width:100%}
#formmail textarea {width:100%;height:100px}
#formmail .frm_file{padding-left:50px;}
#formmail .file_wr{border:1px solid #ccc;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;height:40px;}
#formmail .lb_icon{position:absolute;top:0px;left:0px;border-radius:3px 0 0 3px;height:38px;line-height:38px;width:40px;overflow:hidden;text-indent:-999px;background:url(./img/icon_file.gif) no-repeat 50% 50% #eee}

/* 자기소개 */
#profile section {margin:10px; }
#profile h2 {margin:0}
#profile .sv_wrap a {color:#fdff2f}
#profile table{width:100%;border-collapse:collapse}
#profile table th{background:#fff;padding:10px;width:90px;text-align:left;border-bottom:1px solid #eee}
#profile table td{background:#fff;padding:10px;border-bottom:1px solid #eee}
#profile p{background:#fff;padding:10px;margin:10px 0;
-webkit-box-shadow: 0 0 5px rgba(50,50,50,0.2);
-moz-box-shadow: 0 0 5px rgba(50,50,50,0.2);
box-shadow: 0 1px 5px rgba(50,50,50,0.2);}